body {
    align-items: center;
    text-align: center;
    font-family: Calibri;
}

.input #link #scribd_original_link {
    width: 500px;
    height: 30px;
    border: 2px solid black;
    border-radius: 25px;
}

.input #submit {
    width: 80px;
    height: 30px;
    border: 2px solid black;
    border-radius: 25px;
}

.input #submit:hover {
    background-color: aliceblue;
}