:root {
    --background-color: white;
    --color: black;
    --border-color: black;
    --hover-background-color: black;
    --hover-color: white;
}

body {
    align-items: center;
    text-align: center;
    font-family: Calibri;
    background-color: var(--background-color);
    color: var(--color);
}

.input #link #scribd_original_link {
    width: 500px;
    height: 30px;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: 25px;
    color: var(--color);
    padding-left: 25px;
}

.input #submit {
    width: 80px;
    height: 35px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    margin-left: 5px;
    background-color: var(--background-color);
    color: var(--color);
}

.input #submit:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-color);
}